{% extends 'fundtracker/header.html' %}
{% block main%}
<div class="content-wrapper" style="padding:20px">
    <div class="card">
        <div class="card-header border-0">
        <h3 class="card-title">Transactions</h3>
        </div>
        <div class="card-body table-responsive p-0">
        <table class="table table-striped table-valign-middle">
        <thead>
        <tr>
            {% if role == 'Contractor' %}
            <th>From</th>
            {% else %}
            <th>To</th>
            {% endif %}
        <th>Amount</th>
        <th>Date</th>
        <th>Descption</th>
        <th>Action/Status</th>

        </tr>
        </thead>
        <tbody>
        {% for tran in transaction %}
        <tr>
        <td>
        {{ tran.to }}
        </td>
        <td>{{ tran.amount }}</td>
        <td>
        
        {{ tran.time }}
        </td>
        <td>
        {{ tran.desp }}
        </td>
        <td>
            {% if role == 'Contractor' %}
                <form action="{% url 'changestatus' %}" method="get">
                    <select name="status">
                        <option>Not Started</option>
                        <option>Inprogess</option>
                        <option>Completed</option>
                    </select>
                    <input type="hidden" value="{{ tran.id }}" name="id">
                    <input type="submit" name="submit">
                    /{{ tran.status }}
                </form>
            {% endif %}
            </td>
        </tr>
         {% endfor %}
        </tbody>
        </table>
        </div>
        </div>
</div>
{% endblock %}